body {
	margin: 0;
	font-family: "Heuvetica Neue", Heuvetiva, Arial;
	font-size: 1em;
	
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1em; line-height: 24px; }

header {
	float: left;
	border-bottom: 1px solid #dddddd; width: 100%;
}
article {
	float: left;
	margin-right: 10px; width: calc(70% - 10px);
}
aside {
	float: left;
	width: 30%;
}
footer {
	float: left;
	width: 100%;
}

.bold { font-weight: bold;}
.f-left { float: left; }
.f-right { float: right; }
.t-left { text-align: left; }
.t-center { text-align: center; }
.t-right { text-align: right; }
.t-justify { text-align: justify; }
.hide { display: none; }
.clear { clear: both; }
.main { 
	margin: auto; width: 1000px;
	background-color: #eeeeee; 
}
.movie { margin: 10px 0; border: dotted; border-width: 1px 0; padding: 10px 0; width: 100%; }
.movie h2 { margin: 0; }
.movie-logo { margin-right: 10px; }
.movie-synopses { clear: both; }
.movie .box-rate {
	float: right;
	margin-top: -30px; width: 150px; height: 30px;
}
.movie .rate, .recommendation .rate { float: left; }
.leia-mais { display: block; }
.login {
	position: absolute;
	margin: -50px 0  0 calc(1000px - 242px); 
	border: 1px solid #dddddd; border-radius: 5px; padding: 10px;
	background-color: #fafafa;
}
.recommendation { 
	position: inherit; top: 12px; text-align: center; 
	width: 300px;
}
.recommendation h3 { margin: 0; }
.recommendation .box-rate {
    margin: 0 0 5px 74px;
    width: 150px;
    height: 30px;
}



.slider {
    overflow: hidden;
    border: 1px solid #dddddd;
    border-radius: 7px;
}
.slider ul {
    list-style: none;
    margin: 0;
}
.slider ul li {
    float: left;
    width: 300px;
}
.slider .back {}
.slider .forward {}




